{{left_sidebar_enabled,right_sidebar_enabled=False,True}}
{{extend 'mylayout.html'}}

{{if 'message' in globals():}}
<h3>Upload Pictures</h3>
{{=uploadform}}
{{block right_sidebar}}
<div style="float:left">
<h4>My Pictures &nbsp&nbsp    </h4>
<ul>
		{{for image in images:}}
		{{=LI(A(image.title, _href=URL("show", args=[image.id,image.image_id])))}}
		{{pass}}
</ul>
</div>
{{end}}
<br />
<h4> Users : </h4>
<ul>
	{{for me in records:}}
	{{=LI(A(me.first_name, _href=URL("show", args=me.id)))}}
	{{pass}}
</ul>
{{default=9999}}
<div style="float:right">
	{{=A("ADMIN INTERFACE",_href=URL("makeadmin"))}}
	<p>
	Administrator needs to be in manager group.
	Admin account is admin@photobook.com
	Password - admin
	</p>
</div>
{{pass}}

