{{extend 'mylayout.html'}}
<center>
	{{if image:}}
	<img width="200px"
	src="{{=URL('download', args=image.file)}}" />
	<h4>{{=image.title}}</h4>
</center>
<h4>{{=name.first_name}}'s Pictures</h4>
{{else:}}
<center><h4>No Pictures</h4></center>
{{pass}}
<span>
	<ul>
		{{if currentuserimage:}}
		{{for image in currentuserimage:}}
		{{=LI(A(image.title, _href=URL("show", args=[image.id,image.image_id])))}}
		{{pass}}
		{{pass}}
	</ul>
	<div>
		<div style="float:right">
				{{if images!="null":}}
				<h4>My Pictures</h4>
				<ul>
				{{for image in images:}}
				{{=LI(A(image.title, _href=URL("show", args=[image.id,image.image_id])))}}
				{{pass}}
				{{pass}}
			</ul>
		</div>
		<br/>
		{{if form_like!="null":}}
		{{=form_like}}
		{{pass}}
		{{if len(form_like_notme)!=0:}}
		{{if form_like_notme!= "null":}}
		{{=form_like_notme}}
		{{pass}}
		{{pass}}
		{{if form_dislike!="null":}}
		{{=form_dislike}}
		{{pass}}

		{{if comments!="null":}}
		<h5>Comments</h5><br /><p>
		{{if len(comments):}}
		{{for comment in comments:}}
		<p>{{=comment.author}} says <i>{{=comment.body}}</i></p>
		{{pass}}</p>
		<h5>Post a comment</h5>
		{{else:}}
		<center><h5>No comments posted yet</h5> </center>
		{{pass}}
		{{pass}}
		{{if form!="null":}}
		{{=form}}
		{{pass}}
{{if form_like!="null":}}
{{=form_del}}
{{pass}}
	</center>
</div>
<h4>Other users</h4>
<ul>
	{{for me in records:}}
	{{=LI(A(me.first_name, _href=URL("show", args=me.id)))}}
	{{pass}}
</ul>
</span>
